.container {
  font-family: "Axiforma Regular",;
  
  background-image: url("../assets/images/bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nav {
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.main {
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.section, .survey {
  background-color: #ffffff;
  border: 1px solid #00d0be;
  border-radius: 8px;
  color: #343a40;
  margin: 0 auto;
  padding: 1rem 0.8rem;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}


.survey {
  padding-top: 0.4rem;
  padding-right: 0rem;
}

.top_container {
  padding: 0 0.8rem;
}

.survey_title {
  font-family: "Axiforma-Black";
  font-weight: 900;
  margin-bottom: 2.3rem;
}

.success_icon {
  background-color: rgba(0, 208, 190, 0.1);
  border: 1px solid #00d0be;
  margin: 0 auto 2.2rem auto;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%
}

.survey_cta_title, .validate_title {
  font-family: "Axiforma-Black";
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.2rem;
  text-align: center;
}

.validate_title {
  font-family: "Axiforma Regular",;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.9rem;
  text-align: center;
}

.validate_amount {
  font-family: "Axiforma-Black";
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.survey_cta_text, .validate_text, .instruction_text p {
  color: rgb(0, 110, 114);
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.instruction_text p {
  color: rgb(2, 106, 122);
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: left;
}

.survey_input_container {
  align-items: flex-end;
  border-bottom: 2px solid #00d0be;
  display: flex;
  justify-content: space-between;
  margin: 0 0.8rem 2.2rem 0.8rem;
  padding: 0 0.3rem;
}

.survey_input {
  border: none;
  font-family: "Axiforma-Black";
  font-size: 1rem;
  font-weight: 500;
}

.survey_input:disabled {
  background: none;
  color: #666666;
  outline: none;
}

.survey_input:focus {
  outline: none;
}

.survey_input_icons {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  gap: 0.3rem;
}

.survey_icon {
  font-size: 0.5rem;
  height: 1.4rem;
  width: 1.4rem;
}

.survey_submit_button {
  align-items: center;
  background-color: rgb(0, 98, 114);
  border: none;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  outline: none;
  padding: 0.9rem 0;
  position: relative;
  width: 100%;
}


.survey_submit_button:disabled {
  background-color: rgba(0, 208, 190, 0.3);
}

.survey_indicators {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  gap: 18px;
}


.survey_indicator {
  background-color: green;
  display: inline-flex;
  height: 4px;
  width: 35px;
}

.survey_indicator_done {
  background-color: rgb(0, 208, 190);
  display: inline-flex;
  height: 4px;
  width: 35px;
}

.survey_indicator_active {
  background-color: green;
  display: inline-flex;
  height: 4px;
  width: 35px;
}


.survey_indicator_inactive {
  background-color: rgba(0, 208, 190, 0.3);
  display: inline-flex;
  height: 4px;
  width: 35px;
}


.survey_form {
  max-height: 250px;
  margin-bottom: 1.4rem;
  overflow-y: auto;
}

.survey_form::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.survey_form::-webkit-scrollbar-track {
  background: rgba(0, 208, 190, 0.3);
}

/* Handle */
.survey_form::-webkit-scrollbar-thumb {
  background: #00d0be;
}

/* Handle on hover */
.survey_form::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

.survey_instruction {
  background: none;
  border: none;
  color:  #00d0be;
  display: flex;
  justify-content: center;
  gap: 3px;
  outline: none;
  width: 100%;
}

.survey_instruction span:first-of-type {
  color:  rgb(0, 98, 114);
}

.survey_instruction span:last-of-type {
  font-weight: 500;
  margin-bottom: 0.7rem;
}


.survey_button_container {
  padding: 0 0.8rem
}

.survey_submit_button span {
  font-size: 0.9rem;
  font-weight: bolder;
  justify-self: center;
}

.survey_submit_icon {
  font-size: 0.3rem;
  font-weight: 100;
  position: absolute;
  right: 20px;
  width: 1.4rem;
}

.done {
  width: 5rem;
}


.survey_back_button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 5px;
  color: rgb(0, 98, 114);
  display: flex;
  font-size: 0.7rem;
  font-weight: bolder;
  justify-content: center;
  outline: none;
  width: 100%;
}


.survey_back_icon {
  align-self: center;
  font-size: 0.3rem;
  height: 1rem;
  justify-self: end;
  width: 1.4rem;
}

.survey_item {
  align-items: flex-start;
  display: flex;
  gap: 3px;
  margin-bottom: 1.5rem;
  padding: 0 0.4rem;
}

.survey_number {
  color: rgb(0, 98, 114);
  font-family: "Axiforma-Black";
  font-size: 0.9rem;
}

.survey_question {
  font-size: 0.9rem;
  font-weight: 200;
  font-family: "Axiforma-Black";
}

.survey_input_options {
  align-items: center;
  color: rgb(0, 98, 114);
  display: flex;
  gap: 6px;
  margin-bottom: 2.3rem;
  padding: 0 1rem;
}

.survey_input_options  input[type="checkbox"]  {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: rgb(0, 98, 114);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgb(0, 98, 114);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.validate_amount_trail {
  font-weight: 200;
  font-family: "Axiforma Regular";
}

.validate_amount_sign {
  font-size: 1.1rem;
  font-weight: 200;
  font-family: "Axiforma Regular";
}

.validate_success_icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
  width: 100%
}

.validate_done {
  width: 8rem;
}

.validate_loading {
  align-items: center;
  background-color: #00d0be;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 3.5rem auto 1.8rem auto;
  padding: 1rem 0;
  width: 85%;

}

.validate_loading_dots {
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 50px;
  height: 8px;
  width: 8px;
}



.instruction_bg {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.instruction_text {
  height: 320px;
  margin-bottom: 2.5rem;
  margin-top: 4rem;
  overflow-y: auto;
  padding: 0 2rem 2rem 2rem;
}

.instruction_text::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.instruction_text::-webkit-scrollbar-track {
  background: rgba(0, 208, 190, 0.3);
}

/* Handle */
.instruction_text::-webkit-scrollbar-thumb {
  background: #02e2cf;
}

/* Handle on hover */
.instruction_text::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

.instruction_close {
  color: rgb(0, 98, 114);
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 1.2rem;
}

.instruction_title {
  font-family: "Axiforma-Black";
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
  margin-bottom: 1.6rem;
}

.button_container {
  margin: 0 2rem;
}



/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(50)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
    top: 0
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
    top: 0
  }
}

.instructionFadeInUp {
  opacity: 1
}

.fadeInUp {
  background-color: rgb(207, 247, 245);
  border: 1px solid #00d0be;
  animation-duration: .3s;
  animation-fill-mode: both;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  border-radius: 6px;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  right: 5%;
  top: 300px;
  width: 90%;
  z-index: 2;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}